<table align="center"  style="background-color: #F5F5F5; width: 100%; padding: 5px; max-width: 1200px;">
    <tr>
        <td align="center" style="text-align: -webkit-center">
            <table style="width: 80%; background-color: white;">
                <tr>
                    <td style="width: 100%; height: fit-content; background-color: #01689B">
                        <h1 style=" margin: 15px 0 15px 30px; color: white; font-family: Verdana,serif; ">Larping</h1>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="margin: 15px 30px 0 30px">U heeft het volgende bericht ontvangen van {{ user }} uit de organisatie {{ organization }}: </p>

                        <p style="margin: 15px 30px 0 30px">{{ description }}</p>

                        <p style="margin: 15px 15px 0 30px">Vriendelijke groet,</p>
                        <p style="margin: 15px 30px 0 30px">Team Larping</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
