{% extends "dashboard_organization/modals/modal.html.twig" %}

{% if resource is defined %}
    {% set  id = resource['id'] %}
    {% set  type = 'Customer' %}
{% else %}
    {% set  id = 'Add' %}
    {% set  type = 'Customer' %}
{% endif %}

{% block body %}
    <form id="{{ type }}Form{{ id }}" method="post">
    </form>
{% endblock %}
