
{% if resource is  defined %}
    {% set  id = resource.id %}
    {% set  type = resource.type %}
{% else %}
    {% set  id = 'Add' %}
    {% set  type = 'Event' %}
{% endif %}

{% extends "dashboard_organization/modals/modal.html.twig" %}

{% block body %}
    <form id="{{ type }}Form{{ id }}">

    </form>
{% endblock %}
