<ul class="list-unstyled mb-6">
    {% for category in categories %}
    <li class="d-inline-block mr-4 mb-2">
        <i class="{{ category.icon }} mr-2" aria-hidden="true"></i>{{ category.name }}
    </li>
    {% endfor %}
</ul>
