{#@todo make this a responsive widget istead of static one#}
<div class="owl-carousel owl-theme listing-details-carousel nav-light-dark owl-loaded owl-drag">
    <div class="owl-stage-outer">
        <div class="owl-stage"
             style="transform: translate3d(-1409px, 0px, 0px); transition: all 0.25s ease 0s; width: 5284px;">
            <div class="owl-item cloned" style="width: 352.25px;">
                <div class="single-item">
                    <a class="overlay-dark" href=/bundles/listy/img/single-listing/vendor/vendor-img-big-05.jpg"
                       data-fancybox="gallery" data-caption="Caption for single image">
                        <img src="/bundles/listy/img/single-listing/vendor/vendor-img-05.jpg" alt="Image">
                    </a>
                </div>
            </div>
            <div class="owl-item cloned" style="width: 352.25px;">
                <div class="single-item">
                    <a class="overlay-dark" href="/bundles/listy/img/single-listing/vendor/vendor-img-big-06.jpg"
                       data-fancybox="gallery" data-caption="Caption for single image">
                        <img src="/bundles/listy/img/single-listing/vendor/vendor-img-06.jpg" alt="Image">
                    </a>
                </div>
            </div>
            <div class="owl-item cloned" style="width: 352.25px;">
                <div class="single-item">
                    <a class="overlay-dark" href=/bundles/listy/img/single-listing/vendor/vendor-img-big-07.jpg"
                       data-fancybox="gallery" data-caption="Caption for single image">
                        <img src="/bundles/listy/img/single-listing/vendor/vendor-img-07.jpg" alt="Image">
                    </a>
                </div>
            </div>
            <div class="owl-item active" style="width: 352.25px;">
                <div class="single-item">
                    <a class="overlay-dark" href="/bundles/listy/img/single-listing/vendor/vendor-img-big-01.jpg"
                       data-fancybox="gallery" data-caption="Caption for single image">
                        <img src="/bundles/listy/img/single-listing/vendor/vendor-img-01.jpg" alt="Image">
                    </a>
                </div>
            </div>
            <div class="owl-item active" style="width: 352.25px;">
                <div class="single-item">
                    <a class="overlay-dark" href="/bundles/listy/img/single-listing/vendor/vendor-img-big-02.jpg"
                       data-fancybox="gallery" data-caption="Caption for single image">
                        <img src="/bundles/listy/img/single-listing/vendor/vendor-img-02.jpg" alt="Image">
                    </a>
                </div>
            </div>
            <div class="owl-item active" style="width: 352.25px;">
                <div class="single-item">
                    <a class="overlay-dark" href="/bundles/listy/img/single-listing/vendor/vendor-img-big-03.jpg"
                       data-fancybox="gallery" data-caption="Caption for single image">
                        <img src="/bundles/listy/img/single-listing/vendor/vendor-img-03.jpg" alt="Image">
                    </a>
                </div>
            </div>
            <div class="owl-item" style="width: 352.25px;">
                <div class="single-item">
                    <a class="overlay-dark" href="/bundles/listy/img/single-listing/vendor/vendor-img-big-05.jpg"
                       data-fancybox="gallery" data-caption="Caption for single image">
                        <img src="/bundles/listy/img/single-listing/vendor/vendor-img-05.jpg" alt="Image">
                    </a>
                </div>
            </div>
            <div class="owl-item" style="width: 352.25px;">
                <div class="single-item">
                    <a class="overlay-dark" href="/bundles/listy/img/single-listing/vendor/vendor-img-big-06.jpg"
                       data-fancybox="gallery" data-caption="Caption for single image">
                        <img src="/bundles/listy/img/single-listing/vendor/vendor-img-06.jpg" alt="Image">
                    </a>
                </div>
            </div>
            <div class="owl-item" style="width: 352.25px;">
                <div class="single-item">
                    <a class="overlay-dark" href="/bundles/listy/img/single-listing/vendor/vendor-img-big-07.jpg"
                       data-fancybox="gallery" data-caption="Caption for single image">
                        <img src="/bundles/listy/img/single-listing/vendor/vendor-img-07.jpg" alt="Image">
                    </a>
                </div>
            </div>
            <div class="owl-item cloned" style="width: 352.25px;">
                <div class="single-item">
                    <a class="overlay-dark" href="/bundles/listy/img/single-listing/vendor/vendor-img-big-01.jpg"
                       data-fancybox="gallery" data-caption="Caption for single image">
                        <img src="/bundles/listy/img/single-listing/vendor/vendor-img-01.jpg" alt="Image">
                    </a>
                </div>
            </div>
            <div class="owl-item cloned" style="width: 352.25px;">
                <div class="single-item">
                    <a class="overlay-dark" href="/bundles/listy/img/single-listing/vendor/vendor-img-big-02.jpg"
                       data-fancybox="gallery" data-caption="Caption for single image">
                        <img src="/bundles/listy/img/single-listing/vendor/vendor-img-02.jpg" alt="Image">
                    </a>
                </div>
            </div>
            <div class="owl-item cloned" style="width: 352.25px;">
                <div class="single-item">
                    <a class="overlay-dark" href="/bundles/listy/img/single-listing/vendor/vendor-img-big-03.jpg"
                       data-fancybox="gallery" data-caption="Caption for single image">
                        <img src="/bundles/listy/img/single-listing/vendor/vendor-img-03.jpg" alt="Image">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="owl-nav">
        <button type="button" role="presentation" class="owl-prev"><i class="fa fa-angle-left " aria-hidden="true"></i>
        </button>
        <button type="button" role="presentation" class="owl-next"><i class="fa fa-angle-right" aria-hidden="true"></i>
        </button>
    </div>
    <div class="owl-dots disabled"></div>
</div>
</section>
