<!-- Features -->
<h3 class="font-weight-normal mb-6">Features</h3>
<ul class="list-unstyled mb-6">
    <li class="d-inline-block mr-4 mb-2">
        <i class="fa fa-wifi mr-2" aria-hidden="true"></i>High Speed Wifi
    </li>
    <li class="d-inline-block mr-4 mb-2">
        <i class="fa fa-car mr-2" aria-hidden="true"></i>Street Parking
    </li>
    <li class="d-inline-block mr-4 mb-2">
        <i class="fa fa-glass mr-2" aria-hidden="true"></i>Alcohol
    </li>
    <li class="d-inline-block mr-4 mb-2">
        <i class="fa fa-pagelines mr-2" aria-hidden="true"></i>Vegetarian
    </li>
    <li class="d-inline-block mr-4 mb-2">
        <i class="fa fa-cube mr-2" aria-hidden="true"></i>Reservations
    </li>
    <li class="d-inline-block mr-4 mb-2">
        <i class="fa fa-check-circle-o mr-2" aria-hidden="true"></i>  Pets Friendly
    </li>
    <li class="d-inline-block mr-4 mb-2">
        <i class="fa fa-credit-card mr-2" aria-hidden="true"></i>Accept Credit Card
    </li>
</ul>
