<!-- Single listing Map -->
<div class="map-sidebar border rounded mb-5">
    <div id="single-listing-map" data-lat="{% if lat|default %}{{ lat }}{% else %}52.379189{% endif %}" data-lag="4.899431"></div>
    <div class="px-6 py-5">
        <ul class="list-unstyled mb-0">
            <li class="d-flex align-items-start">
                <i class="fa fa-map-marker mr-3 mt-1" aria-hidden="true"></i>
                <span>{% if location|default %}{{ location.name }}{% else %}{% endif %}</span>
            </li>
        </ul>
    </div>
</div>
