<!-- Add Review -->
<div class="my-6" id="add-review">
    <h3 class="font-weight-normal mb-6"> Add Review </h3>
    <span class="star add-rating-default pl-0 mb-6"></span>
    <form>
        <div class="form-group">
            <textarea class="form-control" rows="6" placeholder="Enter Your Comment"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary text-uppercase"> Send Review </button>
        </div>
    </form>
</div>
