<!DOCTYPE html>
<html lang="en">

<head>

    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Larping</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-9ZfPnbegQSumzaE7mks2IYgHoayLtuto3AS6ieArECeaR8nCfliJVuLh/GaQ1gyM" crossorigin="anonymous">

    <!-- PLUGINS CSS STYLE -->
    <link href="/bundles/listy/plugins/listtyicons/style.css" rel="stylesheet">
    <link href="/bundles/listy/plugins/menuzord/css/menuzord.css" rel="stylesheet">
    <link href="/bundles/listy/plugins/map/css/map.css" rel="stylesheet">
    <link href="/bundles/listy/plugins/dzsparallaxer/dzsparallaxer.css" rel="stylesheet">
    <link href="/bundles/listy/plugins/owl-carousel/bundles/listy/owl.carousel.min.css" rel="stylesheet">
    <link href="/bundles/listy/plugins/owl-carousel/bundles/listy/owl.theme.default.min.css" rel="stylesheet">
    <link href="/bundles/listy/plugins/revolution/css/settings.css" rel="stylesheet">
    <link href="/bundles/listy/plugins/map/css/map.css" rel="stylesheet">
    <link href="/bundles/listy/plugins/rateyo/jquery.rateyo.min.css" rel="stylesheet">
    <link href="/bundles/listy/plugins/daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="/bundles/listy/plugins/selectric/selectric.css" rel="stylesheet">

    <link href="/bundles/listy/plugins/fancybox/jquery.fancybox.min.css" rel="stylesheet">

    <!-- SELECT2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- CUSTOM CSS -->
    <link href="/bundles/listy/css/style.css" rel="stylesheet" id="option_style">

    <!-- <link rel="stylesheet" href="/bundles/listy/css/default.css" id="option_color"> -->

    <!-- FAVICON -->
    <link href="/bundles/listy/img/favicon.png" rel="shortcut icon">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="/css/custom.css" rel="stylesheet">


</head>

<body id="body" class="up-scroll">

<!-- Preloader -->
<div id="preloader" class="smooth-loader-wrapper">
    <div class="smooth-loader">
        <div class="loader1">
            <div class="loader-target">
                <div class="loader-target-main"></div>
                <div class="loader-target-inner"></div>
            </div>
        </div>
    </div>
</div>

<div class="main-wrapper">

    {% include 'header.html.twig' %}

    {% block content %}

    {% endblock %}

</div> <!-- element wrapper ends -->

{% if hidefooter is not defined or hidefooter is empty %}
{% include 'footer.html.twig' %}
{% endif %}

<!-- JAVASCRIPTS -->

<script src="/bundles/listy/plugins/jquery/jquery-3.4.1.min.js"></script>
<script src="/bundles/listy/plugins/bootstrap/js/bootstrap.bundle.js"></script>
<script src="/bundles/listy/plugins/menuzord/js/menuzord.js"></script>
<script src="/bundles/listy/plugins/selectric/jquery.selectric.min.js"></script>
<script src="/bundles/listy/plugins/dzsparallaxer/dzsparallaxer.js"></script>
<script src="/bundles/listy/plugins/dzsparallaxer/dzsparallaxer.js"></script>
<script src="/bundles/listy/plugins/isotope/isotope.pkgd.min.js"></script>
<script src="/bundles/listy/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="/bundles/listy/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="/bundles/listy/plugins/smoothscroll/SmoothScroll.js"></script>
<script src="/bundles/listy/plugins/owl-carousel/owl.carousel.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWklIAhbeyYWWX5cJLOaNW3qw9PErDjLg"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

<script src="/bundles/listy/plugins/map/js/markerclusterer.js"></script>
<script src="/bundles/listy/plugins/map/js/rich-marker.js"></script>
<script src="/bundles/listy/plugins/map/js/infobox_packed.js"></script>
<script src="/bundles/listy/js/map.js"></script>
<script src="/bundles/listy/js/listty.js"></script>
<script>

    // select2 multiselect
    $(document).ready(function() {
        $('.select-multiple').select2({
            placeholder:'select',
            multiple:true
        });
    });

    function updateLikeCounter(id, status) {
        let counter = document.getElementById(id);
        let likes = 0;
        if (status == 'liked') {
            // Bereken counter.innerText naar int
            likes = parseInt(counter.innerText) + 1;
        } else if (status == 'unliked'){
            likes = parseInt(counter.innerText) - 1;
        }
        counter.innerText = likes;
        console.log(status);
    }

    function likeItem(button) {
        $.ajax({
            type: "POST",
            url: "/like",
            data: {
                resource: button.value
            },
            dataType: "json",
            success: function (response) {
                let id = button.value.split('/');

                updateLikeCounter(id[7], response.data);
                console.log(response);
            }
        });
    }
</script>
</body>
</html>

