<div class="row">

    {% if items|default %}
        {% for item in items %}

            {% set likes = commonground_resource_list({'component':'rc','type':'likes'}, {'resource':item['@id']})['hydra:member']|length %}

            {% if app.user|default %}
                {% set isLiked = commonground_resource_list({'component':'rc','type':'likes'}, {'resource':item['@id'], 'author':app.user.person})['hydra:member'] %}
            {% endif %}


            <div class="col-md-6 col-lg-4">
                {% include '/cards/event.html.twig' with {'item': item} %}
            </div>

        {% endfor %}
    {% endif %}

</div>
