.button-as-a {
    border: none !important;
    background: none !important;
    color: #2196f3 !important;
}

.button-as-a:focus {
    border: none !important;
}

.button-as-a:hover {
    text-decoration: underline !important;
    color: #0a6ebd !important;
}

.no-text-deco:hover {
    text-decoration: none;
}

.cursor-pointer-hover:hover {
    cursor: pointer;
}

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
