<div class="card bg-transparent">
    <div class="card-body">
        <div class="icon-md">
            <i class="icon-listy icon-car-1"></i>
        </div>
        <h3 class="h5 font-weight-normal mb-3">Cars &amp; Vehicles</h3>
        <ul class="list-unstyled list-gray mb-0">
            <li class="pb-1"><a href="listings-half-screen-map-list.html">Bikes &amp; Scooters</a>
            </li>
            <li class="pb-1"><a href="listings-half-screen-map-list.html">Commercial Vehicles</a>
            </li>
            <li class="pb-1"><a href="listings-half-screen-map-list.html">Bicycles Spare Parts</a>
            </li>
            <li class="pb-1"><a href="listings-half-screen-map-list.html">Accessories</a></li>
            <li class="pb-1"><a href="listings-half-screen-map-list.html">Other Vehicles</a></li>
        </ul>
    </div>
</div>
